html {
    height: 100%;
  }
  
  body {
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  #title {
    margin-top: 0;
    margin-right: 500px;
    padding-top: 25px;
    letter-spacing: 5px;
    font-size: 45px;
  }
  
  .elements {
    text-align: right;
    padding: 5px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 25px;
  }
  .p_element  {
    position: relative;
    color: #e6e6e6;
    text-decoration: none;
    padding-right: 20px;
    font-weight: 500;

  }
  .p_element a {
    text-decoration: none;
    color: #e6e6e6;

  }
  
  .p_element:hover {
    color: white;
  }
  
  .p_element::after {
    content: '';
    position: absolute;
    width: 86%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #929292;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    opacity: 0;
  }
  
  .p_element:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
  }



  #welcome-text {
    margin: auto;
    font-size: 50px;
    opacity: 0;
    animation: fade-in 3s forwards;
    width: 50%;
    top: 100%;
    margin-top: 200px;
    white-space: nowrap;
  }

  #welcome_h1{
    margin: auto;
    font-size: 90px;
    animation: fade-in 3s forwards;
    top: 100%;
    white-space: nowrap;
    
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    0% {
      color: gray;
    }
  
    25% {
      color: #555;
    }
  
    50% {
      color: #333;
    }
  
    75% {
      color: #555;
    }
  
    100% {
      color: gray;
    }
  }
  
  #welcome_h1 {
    animation: blink 8s infinite;
  }
  
  #aside {
    width: 65px;
    background-color: #ebebeb;
    border-radius: 6px;
    margin-left: 8px;
  }
  
  #social_elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  
  .each_social_element {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 45px;
    height: 45px;
    padding-left: 5px;
  }
  
  #my_skills {
    width: 500px;
    height: 280px;
    background-color: #ebebeb;
    margin: auto;
    margin-right: 20px; /* Añade esta línea */
    border-radius: 6px;
    margin-bottom: 55px;
  }

  #my_skills_title{
    padding-top: 20px;
    font-size: 35px;
    letter-spacing: 3px;
  }
  
  #skills_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  
  #skills_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  
  #skills_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .each_my_skill {
    padding: 20px;
    background-color: white;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 20px;
  }
  
  .each_my_skill:hover {
    cursor: pointer;
  }
  
  #html {
    background-color: #ff4c1e;
    color: white;
  }
  
  #css {
    background-color: #004ce8;
    color: white;
  }
  
  #react {
    background-color: #00d8ff;
    color: white;
  }
  
  #javascript {
    background-color: #ffd93a;
    color: white;
  }
  
  #typescript {
    background-color: #2f74c0;
    color: white;
  }
  
  #mysql {
    background-color: #5181a2;
    color: #feac14;
  }
  
  #python {
    background-color: #3876ac;
    color: #fed60b;
  }
  
  #php {
    background-color: #777bb3;
    color: black;
  }
  
  #django {
    background-color: #103e2e;
    color: rgb(223, 223, 223);
  }
  
  #footer {
    background-color: white;
    color: #555;
    padding: 10px;
    height: 60px; /* Ajusta el valor de altura según tus necesidades */
    margin-top: auto;
    opacity: 0.9;
    padding-bottom: 15px;
  }
  
  #container{
    background-color: white;
    
  }
